@charset "UTF-8";

@font-face {
  font-family:'Geologica';
  src: url(font/Geologica_Auto-Regular.ttf);
}
@font-face {
  font-family:'Geologica-Bold';
  src: url(../font/Geologica_Auto-Bold.ttf);
}

/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
  
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
:focus, :active {
    outline: none;
}
  
a:focus, a:active {
    outline: none;
}
  
nav, footer, header, aside {
    display: block;
}
  
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
input, button, textarea {
    font-family: inherit;
}
  
input::-ms-clear {
    display: none;
}
  
button {
    cursor: pointer;
}
  
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
  
a, a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
ul li {
    list-style: none;
}
  
img {
    vertical-align: top;
}
  
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
  
/*--------------------*/


body {
    margin: 0;
    background-color: #101519;
}

.header{
    width: 100%;
}

.header_body{
    background-color: #181D20;
    width: 100%;
    height: 60px;
    display: flex;  
    padding: 5px;
    position: relative;
    justify-content: space-between;
    
}


.header_menuBox{
    display: flex;
    width: 50%;
}  

.header_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_menuLink{
    font-family:'Geologica';
    color: #20BF55;
    margin: 5px;
    font-size: 20px;
}

.header_menuLink:hover{
    color: #E7EAEF;
    cursor: pointer;
}


.header_iconsBox{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}

.header_icons{
    margin: 0px 5px;
    width: 32px;
    height: 32px;
}

.firstPage{
    width: 100%;
    display: flex;
}

.firstPageBody{
    display: flex;
    height: 51em;   
    flex-wrap: wrap; 
}

.firstPageImg_container{
    display: flex;
    width: 50%;
}

.firstPage_container{
    display: flex;
    width: 50%;
    padding: 0px 15px;
}

.firstPageImg{
    width: 100%;   
}

.titlefirstPage{
    margin: 32.5% 0 0 0;
    font-family:'Geologica-Bold';
    font-size: 50px;
    color: #E7EAEF;
}

.textfirstPage{
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    font-family:'Geologica-Bold';
    font-size: 40px;
    color: #E7EAEF;
}

.firstPage_textContainner{
    display: block;
    align-items: center;
}

.pageAbout{
    display: flex;
}

.pageAbout_body{
    display: flex;
    height: 600px;
    width: 100%;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    background-color: #E7EAEF;
}

.pageAbout_box{
    padding: 40px;
    display: flex;
    width: 80%;
    height: 90%;
    background-color: #101519;
    border-radius: 30px;
    padding: 30px;
}

.pageAbout_imgContainer{
    display: block;
    width: 30%;
}

.box{
    width: 90%;
    height: 74%;
    border-radius: 10px;
    margin: auto;
}

.pageAbout_imgText{
    margin: auto;
    font-size: 20px;
    color: #E7EAEF;
    font-family:'Geologica';
    text-align: center;
    margin: 30px 0;
}

.pageAbout_textContainer{
    display: flex;
    width: 70%;
    padding: 0 0 0px 0;
    font-family:'Geologica';
    font-size: 60px;
    align-items: center;
    justify-content: center;
    color: #E7EAEF;
}

.pageAbout_boxSocial{
    display: flex;
}


.pageAbout_boxSocial{
    justify-content: center; 
}


.divAbout_logo{
    width: 24px;
    margin: 0px 10px;
}

.divAbout_logo:hover{
    
}

.pageXp_body{
    width: 100%;
    padding: 15px;
}

.pageXp_container{
    background-color: #E7EAEF;
    width: 81.6%;
    height: 40em;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageXp_blocks{
    width: 45%;
    height: 240px;
    border: #101519 1px solid;
    background-color: #101519;
    margin: auto;
    padding: 15px;
}

.pageXp_floor{
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.pageXp_title{
    font-size: 40px;
    font-family:'Geologica';
    text-align: center;
    color: #E7EAEF;
    padding: 5px 0;
}

.pageXp_bigBox{
    width: 100%; 
    height: 97%;
    align-items: center;
    justify-content: center;
    
}

.pageXp_logo{
    width: 80px;
    height: 80px;
}


.pageXp_blockTitle{
    color: #E7EAEF;
    font-family:'Geologica';
    font-size: 25px;
    margin: 10px 0;
}

.pageXp_blockText{
    color: #E7EAEF;
    font-family:'Geologica';
    margin: 10px 0;
    font-size: 16px;
}

.pageWork{
    background-color: #20BF55;
    padding: 15px 15px;
}

.pageWork_body{
    width: 81.6%;
    height: 70em;
    background-color: #101519;
    margin: auto;
    padding: 30px 10px;
}

.pageWork_textBox{
    display: flex;
}

.pageWork_title{
    width: 40%;
    color: #E7EAEF;
    font-family:'Geologica';
    font-size: 35px;
}

.pageWork_link{
    width: 60%;
    color: #E7EAEF;
    text-align: end;
    font-family:'Geologica';
}

.pageWork_container{
    display: block;
}

.pageWork_floor{
    display: flex;
    width: 100%;
}

.pageWork_box{
    width: 50%;
    padding: 15px 5px 0 0;
}

.pageWork_boxImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageWork_img{
    width: 93%;
    height: 360px;
    border-radius: 15px;
}

.pageWork_boxInfo{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 0;
    padding: 0 20px;
}

.pageWork_boxText{
    color: #E7EAEF;
    font-family:'Geologica';
}

.pageWork_boxButton{
    text-align: center;
    justify-content: center;
    color: white;
    width: 13%;
    padding: 5px;
    border: #E7EAEF solid 2px;
    border-radius: 5px;
    font-family:'Geologica';
    cursor: pointer;
}

.pageClients_container{
    width: 80%;
    background-color: #E7EAEF;
    height: 52em;
    margin: 20px auto;
    padding: 20px 15px;
}

.pageClients_boxContainer{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

.pageClients_box{
    width: 28%;
    display: block;
    padding: 20px 10px;
    margin: 10px;
    border: #20BF55 solid 3px;
    border-radius: 10px;
}

.pageClients_title{
    text-align: center;
    color: #101519;
    font-family:'Geologica';
    font-size: 30px;
    margin: 30px 0 0 0;
}

.pageCliets_line{
    background-color: #20BF55;
    height: 5px;
    width: 35px;
    margin: 25px auto;
}

.pageClients_name{
    text-align: center;
    color: #101519;
    font-family:'Geologica';
    font-size: 24px;
    margin: 35px 0;
}

.pageClients_text{
    text-align: center;
    color: #101519;
    font-family:'Geologica';
    line-height: 1.7;
    font-size:16px;
}

.pageClients_img{
    display: flex;
    margin: auto;
    width: 40%;
    height: 110px;
    border-radius: 60%;
}

.pageClients_button{
    text-align: center;
    color: #101519;
    font-family:'Geologica';
    padding: 12px;
    font-size: 16px;
    width: 10%;
    margin: 60px auto 0 auto;
    color: #20BF55;
    border: #20BF55 2px solid;
    border-radius: 5px;
}



.pageMail_body{
    width: 100%;
    margin: 15px 0 0 0;
    background-color: #E7EAEF;
    padding: 50px 0;
}

.pageMail_container{
    width: 80%;
    border: 3px solid #E7EAEF;
    background-color: #101519;
    margin: 0 auto;
    display: flex;
    padding: 40px;
}

.pageMail_boxText{
    width: 45%;
}

.pageMail_get{
    color: #E7EAEF;
    font-size: 18px;
    font-family:'Geologica';
}

.pageMail_tilte{
    color: #E7EAEF;
    font-size: 50px;
    font-family:'Geologica';
    line-height: 1.2;
    margin: 15px 0 0 0;
}

.pageMail_text{
    color: #E7EAEF;
    font-size: 15px;
    font-family:'Geologica';
    line-height: 1.8;
    margin: 15px 0 0 0;
}

.pageMail_number{
    color: #20BF55;
    font-size: 30px;
    text-decoration: underline;
    font-family:'Geologica';
    margin: 40px 0 0 0;
}

.pageMail_boxEnter{
    width: 65%;
}

.pageMail_boxInitials{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pageMail_boxName{
    width: 50%;
    padding:  0 15px 0 0;
}

.pageMail_name{
    background-color: #101519;
    border: #E7EAEF solid 3px;
    border-radius: 5px;
    padding: 15px;
    font-family:'Geologica';
    color: #E7EAEF;
    width: 100%;
}

.pageMail_boxLastName{
    width: 50%;
    padding:  0 0 0 15px;
}

.pageMail_lastName{
    background-color: #101519;
    border: #E7EAEF solid 3px;
    border-radius: 5px;
    padding: 15px;
    font-family:'Geologica';
    color: #E7EAEF;
    width: 100%;
}

.pageMail_boxSubject{
    width: 100%;
}

.pageMail_mail{
    background-color: #101519;
    border: #E7EAEF solid 3px;
    border-radius: 5px;
    padding: 15px;
    font-family:'Geologica';
    color: #E7EAEF;
    width: 100%;
    margin: 30px 0;
}

.pageMail_message{
    background-color: #101519;
    border: #E7EAEF solid 3px;
    border-radius: 5px;
    padding: 15px;
    font-family:'Geologica';
    color: #E7EAEF;
    width: 100%;
    min-height: 180px;
}

.pageMail_boxSend{
    border: #E7EAEF solid 3px;
    padding: 15px;
    width: 100%;
    color: #E7EAEF;
    text-align: center;
    font-family:'Geologica';
    margin: 30px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
}


.pageMail_linkBox{
    display: flex;
    width: 100%;
}

.pageMail_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageMail_menuLink{
    font-family:'Geologica';
    color: #E7EAEF;
    margin: 70px 35px 0 0;
    font-size: 16px;
}

.pageMail_menuLink:hover{
    color: #20BF55;
    cursor: pointer;
}

.information_container{
    width: 80%;
    background-color: #E7EAEF;
    margin: 20px auto;
    height: 670px;
    display: flex;
}

.information_textBox{
    width: 50%;
    padding: 20px 15px;
}

.information_imgBox{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information_img{
    width: 70%;
    border: #20BF55 10px solid;
}

.information_name{
    font-family:'Geologica-Bold';
    font-size: 50px;
}

.information_line{
    height: 6px;
    width: 385px;
    background-color: #20BF55;
    margin: 10px 0px 0 5px;
}

.information_work{
    font-family:'Geologica';
    font-size: 42px;
    margin: 10px 0 0 0;
}

.information_text{
    font-family:'Geologica';
    font-size: 28px;
    margin: 10px 0 0 0;
}

.basement{
    width: 100%;
    background-color: #E7EAEF;
    padding: 0px 0 20px 0;
    text-align: center;
    font-family:'Geologica';
    color: #101519;
}

.basement__Portfolio{
    width: 100%;
    background-color: #101519;
    padding: 0px 0 15px 0;
    text-align: center;
    font-family:'Geologica';
    color: #E7EAEF;
    margin: 20px 0 0 0;
}